@using E_Market.Core.Application.ViewModel.User
@model LoginViewModel
@{
    ViewData["Title"] = "Iniciar Seccion";
}
<section class=" vh-100">
    <div class="container-fluid h-custom p-3">

        <div class="shadow-lg p-3 mb-3 bg-body-tertiary rounded row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        
                <form method="post" asp-controller="User" asp-action="Index">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="NombreUsuario" class="form-control form-control-lg"
                               placeholder="Usuario" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="Password" class="form-control form-control-lg"
                               placeholder="Contraseña" />
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a asp-controller="User" asp-action="Register" class="link-danger">Register</a>
                        </p>
                    </div>

                </form>
            </div>

        </div>
    </div>
    </div>

</section>